.spencer {
  background-image: url(http://res.cloudinary.com/omash612/image/upload/v1483467365/spener_l2m5he.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 15%;
  border-radius: 50%;
}

.alex {
  background-image: url(http://res.cloudinary.com/omash612/image/upload/v1483467364/Alex_k6z77x.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 15%;
  border-radius: 50%;
}

.william {
  background-image: url(http://res.cloudinary.com/omash612/image/upload/v1483467365/william_jmwi0k.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 30%;
  border-radius: 50%;
}

.rebecca {
  background-image: url(http://res.cloudinary.com/omash612/image/upload/v1483467364/rebecca_msjpqt.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 15%;
  border-radius: 50%;
}

.about-background {
  background-color: #e9e0d6;
  
}

hr {
  height: 1px;
  color: black;
  background-color: black;
}
