@import 'materialize';
@import 'font-awesome';
@import 'flash';
@import 'contactUs';
@import 'signUp';
@import 'app';
@import 'about';

html {
  // background: url(http://www.liquidnetworx.com/files/2014/10/outside-basketball.jpg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

a.secondary-content {
  cursor: pointer;
}

nav {
  background-color: transparent;

}

.parallax-container {
  height: 570px;
}

.sign-up {
  background-color: #cceeff;
  height: 400px;
}

.sign-up-title {
  font-size: 90px;
  font-style: italic;
  color: #012422;
  margin-top: 25px;
  margin-left: 20px;
}

.sign-up-desc {
  font-size: 30px;
  color: #0a0045;
}
