@import 'materialize';
@import 'font-awesome';
@import 'flash';
@import 'contactUs';
@import 'signUp';
@import 'app';
@import 'about';

html {
  // background: url(http://www.liquidnetworx.com/files/2014/10/outside-basketball.jpg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

a.secondary-content {
  cursor: pointer;
}

nav {
  background-color: transparent;

}

.main-image {
  background-image: url('http://www.liquidnetworx.com/files/2014/10/outside-basketball.jpg');
  background-size: cover;
  background-position: 100%;
  width: 100%;
  height: 500px;
}

.event-card {

}
