@import "materialize/components/color";
$primary-color: color("red", "lighten-2") !default;
$secondary-color: color("blue", "base") !default;
@import 'materialize';
@import 'font-awesome';
@import 'flash';
@import 'signUp';
@import 'app';
@import 'about';
@import 'form';
@import 'pugEvent';
@import 'pugEvents';
@import 'nav';
@import 'search';

.row {
  margin-bottom: 0 !important;
}

* {
  // border: 1px solid red;
}

body {
  font-family: 'Arimo', sans-serif;
}

#slide-search {
  display: none;
}

.toasted {
  background-color: green;
  border-radius: 10px;
  color: white;
  margin-right: 150px;
  margin-top: 50px;
}

.flex-stuff {
 height: 100vp;
}

.main-logo {
  margin-left: 30px;
  font-size: 30px;
}

.hide-on-med-and-down {
  margin-right: 40px;
}

.alert {
  margin-bottom: 20px;
	padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

a.secondary-content {
  cursor: pointer;
}

.landing-image {
  min-height: calc(100vh - 64px);
}

.actual-landing-image {
  min-height: 100%;
}

.parallax-container {
  height: 480px;
}

.sign-up {
  background-color: #354458;
  height: 435px;
}

.sign-up-title {
  font-size: 90px;
  font-style: italic;
  color: #012422;
  margin-top: 25px;
  margin-left: 20px;
}

.sign-up-desc {
  font-size: 25px;
  color: #0a0045;
}

.what-is-pug {
  color: #fff;
  background-color: #3a9ad9;
  width: 100%;
}

.kep-login-facebook.metro {
  border-radius: 3px !important;
}

.event-list {
  height: 91vh;
  overflow-y: scroll;
}

.icon-logo {
  background-image: url('logo.jpg');
  background-size: contain;
  background-position: 100% 100%;
  width: 50px;
  height: 50px;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-icons {
  margin-left: 10px;
  margin-right: 10px;
}
