.contact-background{
  background-image: url(http://res.cloudinary.com/omash612/image/upload/c_scale,w_1978/v1483472712/hdSoccerGame_jwonev.jpg);
  background-size: cover;
  background-position: 80% 80%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.login-background {
  background-image: url(http://res.cloudinary.com/omash612/image/upload/c_scale,w_2216/v1483592932/baseballMit_vlwj1y.jpg);
  background-size: cover;
  background-position: 100% 70%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.signup-background {
  background-image: url(http://res.cloudinary.com/omash612/image/upload/c_scale,w_2131/v1483683226/artsyBasketball_ysrsox.jpg);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  height: 850px;
  width: 100%;
}
