.fixedbutton {
	background-image: url(asset_path("pug_button.svg"));
	background-size: contain;
	background-repeat: no-repeat;
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.just-pug1 {
	background-color: transparent;
	padding-bottom: 0;
}

.pug-events {
	// background-color: red;
	margin-bottom: 5px;
	margin-top: 5px;
}
